---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
            {% if page.this_is_about -%}
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
           {% endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
            {% if page.this_is_about != true -%}
              <div class="social">
                <div class="contact-icons"></div>
                      {%- if site.linkedin_username -%}
                      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
                      {% endif %}
                      {%- if site.twitter_username -%}
                      <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
                      {% endif %}
                </div>
              </div>
            {% else %}
              {%- if page.social %}
                <!-- Social -->
                <div class="social">
                  <div class="contact-icons">
                  {% include social.html %}
                  </div>

                  <div class="contact-note">
                    {{ site.contact_note }}
                  </div>
                


                </div>
              {%- endif %}
            {%- endif %}
          </div>
          <h2 class="category"></h2>

          {% if page.selected_projects -%}
            <!-- Selected projects -->
            {%- include selected_projects.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          
          
         
          
        </article>

</div>
