---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <h5> {{ page.description }}</h5>
          </header>
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {%- if site.scholar_userid -%}
            <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
            <div class="contact-note">
              <h6>Go to Google Scholar for full publications list</h6>
            </div>
            {% endif %}
            </div>
            
          </div>
          {%- endif -%}
          <article>
            {{ content }}
          </article>

        </div>
